# env
.env
.env.local
.env.*
!.env.production.example

# dependencies
node_modules/

# Next.js
.next/
out/

# Go
*.exe
tmp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Screenshots (root only)
/Capture*
backend/server.exe~

# Local Netlify folder
.netlify

# Clojure/LSP caches
.clj-kondo/
.lsp/
